
.products-grid {
    max-width: 1200px;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    margin-bottom: 5rem;
}

.product {
    outline: 2px solid rgba(0, 0, 0, .205);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.product:hover {
    scale: 1.03;
    outline-color: black;
    box-shadow: rgba(0, 0, 0, 0.205) 0px 5px 15px;
}

.product-header img {
    width: 100%;
}

.product-details {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.8rem;
}

.item-price {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0 rem;
}


.product a {
    text-decoration: none;
    color: black;
}