<div class="home-container">
    <div class="container">
        <div class="grid-container">
            <div class="featured grid-one">
                <a href="categories/furnitures">
                <div id="img1" class="lil-overlay"></div>
                <img src="../../assets/home-img-1.jpg" alt="img1" />
                <p class="main-description">Furniture</p>
                </a>
            </div>
            <div class="featured grid-two">
                <a href="categories/skin-care">
                <div id="img2" class="lil-overlay"></div>
                <img src="../../assets/home-img-2.jpg" alt="img2" />
                <p class="main-description">Skincare</p>
                </a>
            </div>
            <div class="featured grid-four">
                <a href="categories/kitchen">
                <div id="img3" class="lil-overlay"></div>
                <img src="../../assets/home-img-3.jpg" alt="img3" />
                <p class="main-description">Kitchen</p>
                </a>
            </div>
            <div class="featured grid-four-low">
                <a href="categories/electronics">
                <div id="img4" class="lil-overlay"></div>
                <img src="../../assets/home-img-4.jpg" alt="img4" />
                <p class="main-description">Electronics</p>
                </a>
            </div>
        </div>
    </div>
</div>