.recommended-container {
    padding: 6rem 0;
}

.heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 19px;
}

