<div class="recommended-container">
    <div class="container">
        <h2 class="heading">Recommended Products 🔥</h2>
        <div class="products-grid">
            <div class="product">
                <a href="/categories/product/1">
                    <div class="product-header">
                        <img src="../../assets/img/products/1.jpg" alt="product1">
                    </div>
                    <div class="product-details">
                        <p>Little Wool Armchair</p>
                        <p class="item-price">986$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/2">
                    <div class="product-header">
                        <img src="../../assets/img/products/2.jpg" alt="product2">
                    </div>
                    <div class="product-details">
                        <p>Pop-up Toaster</p>
                        <p class="item-price">45$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/3">
                    <div class="product-header">
                        <img src="../../assets/img/products/3.png" alt="product3">
                    </div>
                    <div class="product-details">
                        <p>Light Blue Lamp</p>
                        <p class="item-price">79$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/4">
                    <div class="product-header">
                        <img src="../../assets/img/products/4.jpg" alt="product4">
                    </div>
                    <div class="product-details">
                        <p>Pulp Unit - 5 Comp</p>
                        <p class="item-price">254$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/5">
                    <div class="product-header">
                        <img src="../../assets/img/products/5.jpg" alt="product5">
                    </div>
                    <div class="product-details">
                        <p>Golden Modern Light</p>
                        <p class="item-price">189$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/6">
                    <div class="product-header">
                        <img src="../../assets/img/products/6.jpg" alt="product6">
                    </div>
                    <div class="product-details">
                        <p>Body Oil 200ml</p>
                        <p class="item-price">67$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/7">
                    <div class="product-header">
                        <img src="../../assets/img/products/7.jpg" alt="product7">
                    </div>
                    <div class="product-details">
                        <p>Black and White Lamp</p>
                        <p class="item-price">120$</p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/categories/product/8">
                    <div class="product-header">
                        <img src="../../assets/img/products/8.jpg" alt="product8">
                    </div>
                    <div class="product-details">
                        <p>Black ash Shelf</p>
                        <p class="item-price">115$</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>