<div class="my-16">
    <div class="max-w-[1200px] mx-auto">
        <h1 class="text-md font-semibold m-2 md:text-lg md:my-4 lg:text-xl lg:my-6">Recommended Products 🔥</h1>
        <!-- grid -->
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 lg:gap-4">
            <div class="border-2 border-gray-200 m-2" *ngFor="let item of filteredItems">
                <!-- product-card -->
                <div class="flex flex-col justify-between h-full w-full">
                    <a [routerLink]="'categories/product/'+item.id">
                        <img [src]="item.img" alt="{{item.id}}">
                        <div class="flex justify-between m-2 gap-4 text-xs px-1 sm:text-sm sm:px-2 sm:mt-3 md:px-3">
                            <p>{{item.description}}</p>
                            <p class="flex items-center">₹{{item.price}}</p>
                        </div>
                    </a>
                    <div class="flex justify-between m-4">
                        <!-- Add to Cart -->
                        <button class="p-2 text-xs sm:text-sm md:text-md bg-gray-800 rounded-full text-white sm:p-3"
                            (click)="addtocart">add to cart</button>
                        <!-- Add to wishlist -->
                        <button class="p-2 rounded-full hover:bg-gray-200 sm:p-3">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                            </svg> -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>