<!-- hero section -->
<app-hero></app-hero>

<!-- Recommended Products sections -->
<app-recommended></app-recommended>

<!-- Banner 1 -->
<app-banner 
title="Create Harmonious Living" 
text="Shopsmart products are all made to standard sizes so that you can mix and match them freely."
img="../../assets/img/banner/banner1.jpg">
</app-banner>

<!-- Trending slider -->
<app-trendingslider></app-trendingslider>

<!-- Banner 2 -->
<app-revbanner
title="Comfortable & Elegante Living" 
text="Shopsmart Products are all made to standard sizes so that you can mix and match them freely."
img="../../assets/img/banner/banner2.jpg">
</app-revbanner>

<!-- Footer -->